
.use-section{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.use-section .use-container{
    width: 100%;
    height: 100%;
    background-color: var(--pr2-color);
    padding: 70px 60px;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.use-section .use-container .use-card{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
    color: #fff;
    position: relative;
    width: 25%;
}

.use-section .use-container p{
    font-size: 16px;
}

.use-section .use-container .divider{
    width: 1px;
    height: 250px;
    background-color: #fff;
}


/* for screen size 768 */
@media (max-width: 768px) {
.use-section .use-container{
    padding: 42p 50px;
    gap: 20px;
    flex-direction: column;
}

.use-section .use-container .use-card{
    width: 100%;
}

.use-section .use-container .use-card h3{
font-size: 65px;
}

.use-section .use-container p{
    font-size: 26px;
    letter-spacing: 3px;
    line-height: 45px;
}

.learn-banner
{
    margin-top: 20px;
    font-size: 26px;
}

.learn-banner img{
    width: 25px !important;
}

.use-section .use-container .divider{
    width: 100%;
    height: 1px;
    margin: 30px 0;
}



}



/* media for size 992px */
@media (max-width: 992px) {
    
 .use-section .use-container{
    padding: 50px 40px;
 }

.use-section .use-container p{
    font-size: 15px;
}
 

}