.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.contact .section-title .contact-p {
    width: 25%;
}

.contact .contact-form-container {
    position: relative;
    padding-top: 60px;
    padding-bottom: 80px;
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border-radius: 45px;
    background-color: var(--pr3-color);
}

.contact .hi-quote {
    display: flex;
    align-items: center;
}

.form-check-input {
    position: relative;
    width: 28px !important;
    height: 28px !important;
    border: 1px solid #000 !important;
    border-radius: 50%;
    background-color: #fff !important;
    cursor: pointer;
    outline: unset;
    z-index: 99;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* دائرة داخلية عند التحديد */
.form-check-input:checked::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    background-color: #7CFC00 !important;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.contact .contact-form-container form input:focus,
.form-check-input:focus-visible,
.contact .contact-form-container .mt-custom textarea:focus {
    outline: none !important;
    box-shadow: 0 0 0 3px #7CFC00 !important;
}

.contact .form-check-inline {
    width: max-content;
    display: flex;
    align-items: center;
}

.contact .form-check-inline p {
    margin-left: 20px;
}

.contact .contact-form-container form {
    margin-top: 40px;
    width: 60% !important;
}

.contact .contact-form-container form label {
    font-size: 16px;
}

.contact .contact-form-container form input {
    border: 1px solid #000;
    border-radius: 14px;
    padding-left: 30px;
    display: flex;
    align-items: start;
    padding: 15px 25px;

}

.contact .contact-form-container .mt-custom textarea {
    border: 1px solid #000;
    padding: 18px 30px;
    display: flex;
    align-items: start;
}

.contact .contact-form-container form input::placeholder {
    color: #898989;
    font-size: 18px;
}

.contact .contact-form-container .mt-custom {
    margin-top: 25px;
}

.contact .contact-form-container .message-input {
    width: 100%;
    height: 190px;
}

.contact .contact-form-container form .submit-btn {
    width: 100%;
    margin-top: 40px;
    padding: 20px 0;
    border: 1px solid var(--pr2-color);
    border-radius: 14px;
    background-color: var(--pr2-color);
    font-size: 20px;
    transition: all 0.2s;
}

.contact .contact-form-container form .submit-btn:hover {
    background-color: #383944;
}

.contact .contact-form-container form .submit-btn:active {
    transform: scale(0.96);
}

.contact .contact-form-container .contact-img {
    position: absolute;
    top: -15px;
    right: 0px;
    height: 600px;
}


/* for screen size 768 */
@media (max-width: 768px) {
.contact .section-title .contact-p{
    width: unset;
}

.contact .contact-form-container .contact-img{
    display: none;
}

.contact .contact-form-container{
    padding: 40px 30px;
}

.contact .hi-quote{
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact .contact-form-container form{
    width: 100% !important;
    margin-top: 36px;
}

.contact .contact-form-container form input{
    padding: 18px 20px;
}







}



/* media for size 992px */
@media (max-width: 992px) {
    .contact .section-title .contact-p{
        width: 70%;
    }
 
    .contact .contact-form-container{
        padding: 40px 60px;
    }

    .contact .contact-form-container .contact-img{
        height: 500px;
    }
 

}



/* media for size 1200px */
@media (max-width: 1200px) {
    
    .contact .contact-p{
        width: 75% !important;
    }

 

}