
.success{
    padding: 70px 90px;
}

.success .success-img{
    width: 474.38px;
}

.success .success-title{
    width:  40%;
}

.success .success-title p{
    font-size: 20px;
}



/* media for size 576px */
@media (max-width: 576px) {
    
 
.section-info{
    gap: 35px;
}
 
.impact-numbers .impact-boxes-container{
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.impact-numbers .impact-boxes-container .impact-box{
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    width: 75% !important;

}

.impact-numbers .impact-boxes-container .hider{
    left: 0;
    position: absolute;
    display: none;
    
    
}







}





/* for screen size 768 */
@media (max-width: 768px) {
.success .success-img{
    width: 100%;
    height: auto;
}

.success .success-title{
    width: 100%;
}










}