
.proven-success{
    padding: 65px 100px;
    align-items: center !important;
}

.proven-success .proven-success-img{
    width: 475px;
    height: 475px;
}

.proven-success .proven-success-title{
    margin-left: 114px;
}

.proven-success .proven-success-title p{
    font-size: 20px;
}

/* for screen size 768 */
@media (max-width: 768px) {
.proven-success .proven-success-img{
    width: 90% !important;
    height: auto;
}

.proven-success .proven-success-title{
    margin-left: 0 !important;
    width: 100% !important;
}




}


/* media for size 992px */
@media (max-width: 992px) {
    
 .proven-success{
    padding: 35px 70px;
 }

 .proven-success .proven-success-img{
    width: 50%;
    height: auto;
 }

 .proven-success .proven-success-title{
    margin-left: unset;
    width: 50%;
 }

 .proven-success .proven-success-title p{
    font-size: 18px;
 }

 

}


/* media for size 1200px */
@media (max-width: 1200px) {
    .proven-success{
         padding: 45px 80px;

    }
    
  .proven-success .proven-success-img{
   width: 50% ;
    height: auto ;


  }

  .proven-success .proven-success-title{
    margin-left: 70px;
  }

 

}

 

