.team {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.team .team-p {
    width: 35%;
}

.team-cards-container {
    width: 100%;
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team .team-card {
    position: relative;
    width: 387px;
    padding: 40px 35px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 45px;
    transition: all 0.3s;
}

.team .team-card:hover {
    transform: scale(1.02);
}

.team .team-card .member-info {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: start;
}

.team .team-card .member-info img {
    width: 105.65px;
    cursor: pointer;
    transition: all 0.3s;
}

.team .team-card .member-info img:hover {
    transform: scale(0.96) rotate(-5deg);
}

.team .team-card .member-info .member-title {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.team .team-card .divider {
    width: 100%;
    height: 1px;
    margin: 28px 0;
    background-color: #000;
}

.team .team-card .linkedin-logo {
    position: absolute;
    width: 34px;
    height: 34px;
    top: 40px;
    right: 35px;
    transition: all 0.2s;
}

.team .team-card .linkedin-logo:hover {
    transform: scale(1.05);
}

.team .see-btn-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.team .see-btn-container .see-btn {
    width: 269px;
    margin-top: 40px;
    padding: 20px 0px;
    font-size: 20px;
    border: 1px solid var(--pr2-color);
    border-radius: 14px;
    background-color: var(--pr2-color);
    color: #fff;
    transition: all 0.3s;
}

.team .see-btn-container .see-btn:hover {
    background-color: #383944;
}


/* for screen size 768 */
@media (max-width: 768px) {
    .team .team-p {
        width: unset;
    }

.team .team-card{
    width: 100%;
}

.team .see-btn-container{
    width: 100%;
}

.team .see-btn-container a{
    width:  100%;
}

.team .see-btn-container .see-btn{
    width: 100%;
}













}