.footer {
    width: 100%;

}

.footer .footer-container {
    width: 100%;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    background-color: var(--pr2-color);
    display: flex;
    flex-direction: column;
    padding: 55px 60px;
    margin-top: 140px;

}

.footer .mini-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .mini-nav .footer-logo {
    width: 180px;
}

.footer .mini-nav .footer-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.footer .mini-nav .social-media {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer .contact-subscribe {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 66px;
}

.footer .contact-subscribe .footer-contact {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 27px;
}

.footer .contact-subscribe .footer-contact h4 {
    background-color: var(--pr1-color);
    width: max-content;
    height: 26px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 10px;
}

.footer .contact-subscribe .footer-contact p {
    color: #fff;
}

.footer .contact-subscribe .footer-subscribe {
    width: 57%;
    background-color: #292A32;
    border-radius: 14px;
    padding: 58px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.footer .contact-subscribe .footer-subscribe input {
    height: 67px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 14px;
    padding-left: 35px;
    color: #fff;
    font-size: 18px;
    width: 50%;
}

.footer .contact-subscribe .footer-subscribe input::placeholder {
    color: #fff;
}

.footer .contact-subscribe .footer-subscribe input:focus,
.footer .contact-subscribe .footer-subscribe input:focus-visible {
    outline: none;
    box-shadow: 0 0 0 3px var(--pr1-color);
}

.footer .contact-subscribe .subscribe-btn {
    width: 50%;
    height: 67px;
    background-color: var(--pr1-color);
    border: 1px solid var(--pr1-color);
    color: #000;
    font-size: 20px;
    border-radius: 14px;
}

.footer .contact-subscribe .subscribe-btn:hover {
    background-color: #98c561;
    border: 1px solid #98c561;

}

.footer .divider {
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin: 50px 0;
}

.footer .rights-policy {
    display: flex;
    align-items: center;
    justify-content: start;
    color: #fff;
    font-size: 18px;
}

.footer .rights-policy a {
    margin-left: 40px;
    text-decoration: underline;
}



/* for screen size 768 */
@media (max-width: 768px) {


    .footer .footer-container {
        padding: 50px 20px;

    }

    .footer .mini-nav {
        justify-content: center;
        position: relative;
        flex-direction: column;
        gap: 20px;

    }

    .footer .mini-nav .social-media {
        right: 0;
        top: 0;
    }

    .footer .mini-nav .social-media img {
        width: 35px;
    }

    .footer .contact-subscribe {
        margin-top: 37px;
        flex-direction: column;
    }

    .footer .contact-subscribe .footer-contact {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .footer .contact-subscribe .footer-subscribe {
        width: 100%;
        margin-top: 37px;
        flex-direction: column;
        padding: 30px;
        gap: 22px;
    }

    .footer .contact-subscribe .footer-subscribe input {
        width: 100%;
        padding: 21px 25px;
    }

    .footer .contact-subscribe .subscribe-btn {
        width: 100%;
    }

    .footer .divider {
        margin: 37px 0;
    }

    .footer .rights-policy {
        flex-direction: column !important;
        align-items: center;
        gap: 15px
    }








}


/* media for size 992px */
@media (max-width: 992px) {
    .footer .contact-subscribe{
        margin-top: 50px ;

    }
    .footer .contact-subscribe .footer-subscribe {
        flex-direction: column;
    }


    .footer .contact-subscribe .subscribe-btn {
        font-size: 18px;
        width: 100%;
    }

    .footer .contact-subscribe .footer-subscribe input{
        width: 100%;
    }




}



/* media for size 1200px */
@media (max-width: 1200px) {
    
 .footer .contact-subscribe .footer-subscribe{
    padding: 40px 30px;
 }

 

}