
.creator {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.creator .creator-box {
    display: flex;
    align-items: center;
    justify-content: start;
}

.creator .creator-box .creator-img {
    width: 66px;
    height: 66px;
}

.creator .creator-box .creator-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 16px;
}

.creator .divider {
    width: 100%;
    height: 1.3px;
    background-color: var(--pr2-color);
    margin-top: 30px;
    margin-bottom: 70px;
}


.creator .creator-message .creator-message-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: justify;
    text-justify: inter-word;
    text-align-last: justify;
}

.creator .creator-message h2 {
    margin-top: 70px;
}

.creator .creator-message .ch-1 {
    margin-top: 30px;
    text-align: justify;
    text-justify: inter-word;
}

.creator .creator-message .sec-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 70px;
}

.creator .sec-title-info-box {
    width: 100%;
    height: max-content;
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.creator .sec-title-info-box .color-line {
    background-color: var(--pr1-color);
    width: 15px;
    height: 200px
}

.creator .sec-title-info-box .sec-title-info-box-info {
    margin-left: 50px;
    font-size: 30px;
    font-weight: 300;
    text-align: justify;
    text-justify: inter-word;
}

.creator .creator-message .ch-2 {
    margin-top: 50px;
    text-align: justify;
    text-justify: inter-word;
}



/* media for size 992px */
@media (max-width: 992px) {
    
 
.creator-message{
    width: 100% !important;
}

.creator .creator-message .creator-message-title{
    font-size: 21px;
}

.creator .creator-message .sec-title{
    font-size: 35px;
}

.creator .sec-title-info-box .sec-title-info-box-info{
    font-size: 26px;
}

.facts .facts-row .facts-box{
    padding: 25px 40px !important;
}

.facts .facts-row .facts-box-3 .facts-box-row{
    gap: 20px !important;
}
 

}

