
.blog-main{
    padding-left: 80px;
    padding-right: 90px;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 105px;
}

.blog-main .blog-img{
    width: 486.87px;
    height: 415px;
}

.blog-main .blog-main-title{
    gap: unset !important;
}

.blog-main .blog-main-title .blog-label{
    background-color: #E8E8E8;
    padding: 5px 16px;
    border-radius: 9px;
    color: #696969;
}

.blog-main .blog-main-title h2{
    font-weight: 600;
    width: 74%;
    line-height: 50px;
    margin-top: 50px;
}

.blog-main .blog-main-title .blog-info{
    color: #000;
    margin-top: 30px;
}

/* for screen size 768 */
@media (max-width: 768px) {

.creator-message{
    width: 100% !important; 
}













}

