/* import Space Grotesk font */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
  --pr1-color: #B9FF66;
  --pr2-color: #191A23;
  --pr3-color: hsl(0, 0%, 95%);
  --box-shaodw: 0px 5px 0px 0px var(--pr2-color);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 60px;
  margin: 0;
  padding: 0;

}

h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
  font-size: 18px;


}

a {
  color: unset;
  text-decoration: unset;
}

.mt-140 {
  margin-top: 140px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.radius7 {
  border-radius: 7px;
}

button {
  background-color: unset;
  border: unset;
}

.green {
  color: var(--pr1-color);
}

.box-shadow {
  box-shadow: var(--box-shaodw) !important;
  border: 1px solid var(--pr2-color) !important;
}

.section-main {
  width: 100%;
  background-color: var(--pr3-color);
  border-radius: 45px;
  display: flex;
  align-items: start;
  justify-content: space-between !important;
}

.section-img {
  -webkit-user-drag: none;
  /* For WebKit browsers (Chrome, Safari) */
  user-select: none;
  /* Standard property for preventing selection */
  -webkit-user-select: none;
  /* For WebKit browsers */
  -moz-user-select: none;
  /* For Mozilla Firefox */
  -ms-user-select: none;
  /* For Microsoft browsers */
}

.section-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 50px;

}

.section-title {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  margin-bottom: 80px;
}

.section-title h2 {
  color: #000;
  background-color: var(--pr1-color);
  padding: 4px 7px;
  border-radius: 7px;
}

.section-title p {
  margin-left: 40px;
  width: 45%;
}

.learn-banner {
  display: flex;
  align-items: center;
  justify-content: start;
  color: var(--pr1-color);
  margin-top: 18px;
  font-size: 20px;
}

.learn-banner a p {
  position: relative;
}

.learn-banner a p:hover::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: var(--pr1-color);
}

.learn-banner img {
  width: 17.32px;
  margin-left: 15px;
  transition: 0.15s;
}

.learn-banner img:hover {
  transform: rotate(28deg);
}

.services-cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;

}

.services-cards .service-card {
  width: 600px;
  height: 310px;
  padding: 50px;
  border-radius: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s;
}

.services-cards .service-card:hover {
  transform: translateY(-7px);
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.3);
}

.services-cards .service-card .card-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  height: 210px;
}

.services-cards .service-card .card-left .h3s {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.services-cards .service-card .card-left .h3s h3 {
  padding: 1px 7px;
  border-radius: 7px;
  margin: 0;
}

.learn-more {
  display: flex;
  align-items: center;
  justify-content: start;
}

.learn-more a img {
  width: 41px;
  transition: all 0.2s;
}

.learn-more a img:hover {
  transform: rotate(28deg);
}

.learn-more p {
  font-size: 20px;
  margin-left: 15px;
}

.services-cards .service-card .card-right img {
  width: 210px;
  transition: all 0.25s;
}

.services-cards .service-card .card-right img:hover {
  transform: scale(1.05);
}

.services-cards .service-card-w {
  background-color: var(--pr3-color);
}

.services-cards .service-card-w .card-left .h3s h3 {
  background-color: var(--pr1-color);
}

.services-cards .service-card-w .card-left .learn-more p {
  color: #000;
}

.services-cards .service-card-g {
  background-color: var(--pr1-color);
}

.services-cards .service-card-g .card-left .h3s h3 {
  background-color: #fff;
}

.services-cards .service-card-g .card-left .learn-more p {
  color: #000;
}

.services-cards .service-card-b {
  background-color: var(--pr2-color);
}

.services-cards .service-card-b .card-left .h3s h3 {
  background-color: #fff;
}

.services-cards .service-card-b .card-left .learn-more p {
  color: #fff;
}



.section-padding {
  padding: 0 100px;
}

.white {
  color: #fff !important;
}

.work-proceess-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.work-process-card {
  width: 100%;
  background-color: var(--pr1-color) !important;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 41px 60px;
  border-radius: 45px;
}

.work-process-card-title-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.work-process-card-title-container .work-process-card-title {
  display: flex;
  align-items: center;
  justify-content: start;
}

.work-process-card-title-container .work-process-card-title .work-process-card-title-number {
  font-size: 60px;
  font-weight: 500;
}

.work-process-card-title-container .work-process-card-title .work-proceess-card-title-info {
  font-size: 30px;
  font-weight: 500;
  margin-left: 25px;
}

.work-process-card .drop-down-img {
  width: 58px;
  height: 58px;
}

.drop-down-btn {
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drop-down-line-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop-down-line {
  background-color: #000;
  transition: all 0.4s ease;
}

.drop-down-line-1 {
  width: 18px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.drop-down-line-2 {
  width: 3px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s ease;
}

.drop-down-btn.open .drop-down-line-2 {
  opacity: 0;

}

.drop-down-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  opacity: 0;
  width: 90%;
}

.drop-down-content.open {
  max-height: 500px;
  opacity: 1;
}

.drop-down-content .divider {
  width: 100%;
  height: 1.3px;
  background-color: var(--pr2-color);
  margin: 30px 0;
}

.work-process-card-gr {
  background-color: var(--pr3-color) !important;
}

.creator-message {
  width: 870px;
  margin: auto;
}

.stories-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 80px;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 45px;
}

.stories-container>.story-box-upper,
.stories-container>.story-box-lower {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stories-container .story-box {
  width: 340px;
  height: 345px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 20px;
}

.stories-container>.story-box>p {
  width: 80%;
}

.stories-container>.story-box-upper>.story-box-1 {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  padding-bottom: 60px;

}

.stories-container>.story-box-upper>.story-box-2 {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  padding-left: 64px;
}

.stories-container>.story-box-upper>.story-box-2>p {
  font-size: 16px;
}

.stories-container>.story-box-upper>.story-box-3 {
  border-bottom: 1px solid #000;
  padding-left: 64px;

}

.stories-container .story-box-last>p {
  width: 100%;
}

.stories-container>.story-box-lower>.story-box-4 {
  border-right: 1px solid #000;
  padding-top: 60px;

}

.stories-container>.story-box-lower>.story-box-5 {
  padding-top: 60px;
  padding-left: 64px;
  border-right: 1px solid #000;
}

.stories-container>.story-box-lower>.story-box-5>p {
  width: 100%;
}

.stories-container>.story-box-lower>.story-box-6 {
  padding-top: 60px;
  padding-left: 64px;
}


/* media for size 576px */
@media (max-width: 576px) {

  h1 {
    font-size: 43px !important;
  }

  h2 {
    font-size: 36px !important;
  }

  h3 {
    font-size: 26px !important;
  }

  h4 {
    font-size: 18px !important;
  }

  p {
    font-size: 16px !important;
  }



}





/* for screen size 768 */
@media (max-width: 768px) {

  h3 {
    font-size: 50px;
  }

  .mt-140 {
    margin-top: 60px;
  }

  .section-padding {
    padding: 0 20px !important;
  }

  .section-main {
    flex-direction: column;
    padding: 0 20px;
    background-color: unset;
    align-items: center;
    gap: 35px;
  }


  .section-title {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    text-align: center;
  }

  h2 {
    font-size: 45px;

  }

  .section-title p {
    margin-left: 0;
    margin-top: 30px;
    width: 100%;
    text-align: center;
  }

  .services-cards {
    gap: 30px;
    width: 100%;
  }

  .services-cards .service-card {
    width: 100%;
    height: auto;
  }

  .stories-container {
    flex-direction: column;
  }

  .stories-container>.story-box-upper,
  .stories-container {
    gap: 25px;
    border: unset !important;
    box-shadow: unset !important;
  }

  .stories-container>.story-box-upper,
  .stories-container>.story-box-lower,
  .stories-container>.story-box-upper,
  .stories-container>.story-box-upper {
    flex-direction: column;
    border: unset;
    gap: 25px;

  }

  .stories-container>.story-box-upper>.story-box {
    width: 100%;
    height: auto;
    border: unset;
    box-shadow: var(--box-shaodw) !important;
    border: 1px solid var(--pr2-color) !important;
    border-radius: 45px;
    padding: 42px 50px;

  }

  .stories-container>.story-box-lower>.story-box {
    width: 100%;
    height: auto;
    border: unset;
    box-shadow: var(--box-shaodw) !important;
    border: 1px solid var(--pr2-color) !important;
    border-radius: 45px;
    padding: 42px 50px;

  }

  .stories-container h3 {
    font-size: 45px;
  }











}



/* media for size 992px */
@media (max-width: 992px) {
  p{
    font-size: 16px;
  }

  h1 {
    font-size: 50px;
  }

  h2{
    font-size: 30px;
  }

  h3{
    font-size: 25px;
  }

  

  .section-padding {
    padding: 0 60px;
  }

  .section-title p{
    margin-left: 30px;
  }

  .mt-140 {
    margin-top: 100px !important;
  }


  

  .section-title {
    margin-bottom: 60px;
  }

  .section-title p {
    width: 70%;
  }

  .services-cards .service-card {
    width: 100%;
    height: auto;
  }

  .engine-opt .eng-ops-details{
    margin-left: 20px;
    gap: 40px;
  }

  .engine-opt .eng-ops-details .eng-ops-btn{
    font-size: 18px;
    padding: 15px 35px;
  }
  


  .stories-container {
    flex-direction: column;
  }

  .stories-container>.story-box-upper,
  .stories-container {
    gap: 25px;
    border: unset !important;
    box-shadow: unset !important;
  }

  .stories-container>.story-box-upper,
  .stories-container>.story-box-lower,
  .stories-container>.story-box-upper,
  .stories-container>.story-box-upper {
    flex-direction: column;
    border: unset;
    gap: 25px;

  }

  .stories-container>.story-box-upper>.story-box {
    width: 100%;
    height: auto;
    border: unset;
    box-shadow: var(--box-shaodw) !important;
    border: 1px solid var(--pr2-color) !important;
    border-radius: 45px;
    padding: 42px 50px;

  }

  .stories-container>.story-box-lower>.story-box {
    width: 100%;
    height: auto;
    border: unset;
    box-shadow: var(--box-shaodw) !important;
    border: 1px solid var(--pr2-color) !important;
    border-radius: 45px;
    padding: 42px 50px;

  }

  .stories-container h3 {
    font-size: 45px;
  }


}



/* media for size 1200px */
@media (max-width: 1200px) {
    
 

  h1{
    font-size: 55px;
  }

h2{
    font-size: 27px;
  }
  
  h3{
    font-size: 23px;
  }

  .section-padding{
    padding: 0 80px;
  }

 .section-title p{
    width: 75% !important;
 }

}